#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

{% if dovecot_authentications.master is defined and
      dovecot_authentications.master | count > 0 %}
  {% for _type, values in dovecot_authentications.master.items() %}
    {% if values | count > 0 %}
{{ _type }} {
      {% for k, v in values.items() %}
        {% if v | type == "bool" %}
  {{ "%-26s" | format(k) }} = {{ v | ternary('yes', 'no') }}
        {% else %}
  {{ "%-26s" | format(k) }} = {{ v }}
        {% endif %}
      {% endfor %}
}
    {% endif %}
  {% endfor %}
{% endif %}
